:root {
  font-family: monospace;
  font-size: 1.2em;

  --primary: #0ba5b0;
  --accent: #0b45b0;
  --secondary: #888;
  --error: #a93315;

  --background: #111;

  --border: 1px solid var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary);
  background-color: var(--background);
}

h1 {
  background: -webkit-linear-gradient(0deg, var(--accent), var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: inherit;
  transition: all 100ms ease;
}

a:hover {
  opacity: 0.8;
}

p {
  color: var(--secondary);
}

input[type="url"] {
  margin: 1rem 0;
  width: 100%;
  padding: 1rem;
  
  border: var(--border);
  border-radius: 0.5rem;
  border-color: var(--secondary);
  
  font-family: inherit;
  color: var(--primary);
  background-color: var(--background);

  outline: none;

  transition: all 200ms ease;
}

input[type="url"]:focus-visible {
  border-color: var(--primary);
}

.invalid {
  color: var(--error) !important;
  border-color: var(--error) !important;
}

.container {
  margin: auto;
  max-width: 40rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.header h1 {
  margin-right: auto;
}